.layout-2c-l {

	.content-area {
		float: left;
		margin: 0 -$size__site-sidebar 0 0;
		width: $size__site-main;
	}

	.site-main {
		margin: 0 $size__site-sidebar 0 0;
	}

	.content .sidebar {
		float: right;
		overflow: hidden;
		width: $size__site-sidebar;
	}

	#footer {
		clear: both;
		width: $size__site-main;
	}

}